# ESPN Fantasy
ESPN_S2=your_espn_s2_cookie_here
SWID=your_swid_cookie_here
LEAGUE_ID=1156117086

# Snowflake
SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_user_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_DATABASE=your_database_here
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=your_warehouse_here